@import url('eric-meyer-reset.css'); /*  Standardbrowsereinstellungen zurücksetzen   */

body {
    font-family: "TREBUCHET MS", Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #000;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1200px;
}

#header {
    box-sizing: border-box; /*    Damit padding und border nicht nicht den Element vergrässern */
    height: 400px;
    background: url(img/header_planet.png);
    background-size: cover;
    color: #fff;
    padding-top: 30px;
    text-align: right;
}

#header h1 {
    font-size: 60pt;
}

#header h2 {
    font-size: 40pt;
    font-style: italic;
}

.header {
    box-sizing: border-box;
    width: 100%;
    margin-top: 1px;
    padding: 10px;
    color: #fff;
    background: #000;
    font-size: 30px;
}


#contentwrap {
    display: table; /*   um Raster zu erstellen    */
    border-spacing: 0;
    width: 100%;
    margin: 0 auto;
}

#content {
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.6);
    vertical-align: top;
    font-size: 18pt;
}

.column {
    display: table-cell;
    margin: 0 auto;
    background: #4e4e4e;
    vertical-align: top;
}

.rounded-top-left {
    padding-top: 50px;
    border-top-left-radius: 60px;
}

.rounded-top-right {
    border-top-right-radius: 60px;
}

.rounded-bottom-left {
    border-bottom-left-radius: 60px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 60px;
}

.menu {
    width: 300px;
}

.menu ul {
    list-style: none;
    font-size: 30px;
}

.menu li {
    width: 250px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #fff;
    color: #000;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    color: #fff;
    background: #000;
    text-decoration: none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}


/*    Aside   */

.aside {
    width: 200px;
    padding-left: 20px;
    padding-top: 50px;
    height: 100%;
}

.right-header {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    background: #fff;
    color: #000;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.shelf {
    background: #222;
    padding: 20px 10px 10px;
    color: #fff;
    border-top-left-radius: 25px;
    overflow: hidden; /*  clearfix  */
}

.book {
    text-align: center;
    margin-bottom: 40px;
}

.book-details {
    margin-bottom: 20px;
    text-align: left;
}

.book-cover {
    margin-bottom: 10px;
}

.order {
    margin-bottom: 20px;
}

.order a, .order a:visited {
    font-size: 12px;
    border-radius: 12px;
    padding: 5px 40px;
    text-decoration: none;
    background: #000;
    color: #fff;
}

.order a:hover {
    background: #fff;
    color: #000;
}

#footerwrap {
    display: table;
    border-spacing: 0;
    width: 100%;
    margin-top: 10px;
}

#footer {
    display: table-cell;
    height: 85px;
    background-color: rgba(255, 255, 255, 0.6);
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
}



/* CSS3 Slider
    http://www.deluxeblogtips.com/image-slider-pure-css3/
*/ 

/* твои комментарии со ссылками на сайты нужно оставить? для чего они? или ты просто указал, откуда ты брал информацию? */

.slider {
    margin: 20px;
}

.thumbnail {
    margin-right: 10px;
}

#images {
    width: 860px;
    height: 650px;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}
#images img {
    width: 860px;
    height: auto; /* http://stackoverflow.com/questions/787839/resize-image-proportionally-with-css */

    position: absolute;
    top: 0;
    left: -860px;
    z-index: 1; /* in welcher Reihenfolge Elemente auf dem Ausgabemedium dargestellt werden  */
    opacity: 0; /*  für Deckkraft -verstekt */
    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target { /* im Element, der im Url referenziert wird */
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child { /* das erste image */
    left: 0;
}
.thumbnail {
    padding: 10px;
}
.thumbnail a {
    text-decoration: none;
}


/* Input https://css-tricks.com/examples/NiceSimpleContactForm/ */
#contactwrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid #cccccc;
    background: #fff;
}

.contact  {
    padding: 10px;
}

#contact-area {
    padding: 10px;
    border: 2px solid #D0D0D0;
    background: #cccccc;

    overflow: hidden;
    font-size: 14px;
}

#contact-area input, #contact-area textarea {
    padding: 5px;
    width: 580px;
    font-size: 1.4em;
    margin: 0px 0px 10px 0px;
    border: 1px solid #808080;
}

#contact-area input[type=radio] {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    margin-bottom: 60px;
}

#contact-area input[type=checkbox] {
    display: inline-block; /*  ein Boxen-Gitter erstellen  */
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 25px;
}


#contact-area textarea {
    height: 150px;
}

#contact-area textarea:focus, #contact-area input:focus {
    border: 2px solid darkblue;
}

#contact-area input.submit-button {
    width: 200px;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}

.contact-detail {
    overflow: hidden;
}

label {
    float: left;
    text-align: left;
    margin-right: 15px;
    width: 200px;
    padding-top: 5px;
    font-size: 1.4em;
}
