@import url('eric-meyer-reset.css');


body {
    font-family: TREBUCHET MS, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#000;
    background-color: #000;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 900px;
}


#header {
    height: 300px;
    background: url(img/header_planet.png);
    background-size: cover;
}

.header {
    color: white;
    font-size: 30px;
    background: black;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#contentwrap {
    display: table;
    border-spacing: 0;
    width: 900px;
    margin: 0 auto;
}

#content {
    display: table-cell;
    background: #fff;
    opacity: 0.6;
    vertical-align: top;
}

.column {
    display: table-cell;
    width: 150px;
    margin: 0 auto;
    background: #fff;
    opacity: 0.3;
    padding-top: 60px;
}

.rounded-top-left {
    border-top-left-radius: 40px;
}

.rounded-top-right {
    border-top-right-radius: 40px;
}

.rounded-bottom-left {
    border-bottom-left-radius: 40px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 40px;
}


#menu {
}

#aside{
}

#footerwrap {
    width: 600px;
    margin: 0 auto;
    clear: both;
}

#footer {
    height: 40px;
    background: dimgray;
}

